/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Formulario/formulario.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.formulario_form__FaCMI {
  margin: 1rem;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario_h3__CaHdE {
  max-width: 125px;
  margin-bottom: 0;
}
.formulario_input_container__aMech {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.formulario_input__NB5Yy {
  max-width: 47%;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formulario_textarea__DlMJg {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;

  width: 100%; /*750px*/
  resize: none;
  box-sizing: border-box;
}
.formulario_box_input__wRiJX{
  display: flex;
  justify-content: space-between;
}
.formulario_input_error__SQE6t{
  border-radius: 5px;
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s ease;
  animation: formulario_parpadeo__9sIrl 1s infinite alternate;
}
.formulario_alert_succes__WtLjC{
  margin: auto;
  background-color: #4dd40a;
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.formulario_alert_error__qXRTi{
  margin: auto;
  background-color: #c50000;
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.formulario_input_submit__LbMwO {
  border-radius: 5px;
  background-color: #1d9bf0;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 80px;
  transition: background-color 0.3s ease;
  animation: formulario_parpadeo__9sIrl 1s infinite alternate;
}
.formulario_input_submit__LbMwO:hover {
  background-color: white;
  color: black;
  animation: formulario_parpadeo__9sIrl 0.3s infinite alternate-reverse;
  animation: formulario_parpadeo-color__D75K3 0.65s infinite ease-in;
}
[data-mode="light"] .formulario_input_submit__LbMwO:hover {
  background-color: black;
  color: white;
  animation: formulario_parpadeo-color-light__SkzF2 0.65s infinite ease-in;

}
@keyframes formulario_parpadeo__9sIrl {
  0% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes formulario_parpadeo-color__D75K3 {
  0% {
    background-color: #1d9bf0;
  }
  100% {
    background-color: white;
  }
}

@keyframes formulario_parpadeo-color-light__SkzF2 {
  0% {
    background-color: #1d9bf0;
  }
  100% {
    background-color: black;
  }
}
.formulario_zoom__rhj13 {
  transition: transform 0.2s ease;
}

.formulario_zoom__rhj13:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .formulario_form__FaCMI {
    margin: 0;
    padding: 0 10px 10px 10px;
  }
  .formulario_textarea__DlMJg {
    width: 100%;
  }
  .formulario_h3__CaHdE {
    margin: 0;
    font-size: 16px;
  }
  .formulario_input_container__aMech {
    gap: 10px;
  }
  .formulario_input__NB5Yy {
    padding: 0.3rem;
  }
  .formulario_textarea__DlMJg {
    padding: 0.3rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .formulario_textarea__DlMJg {
    width: 100%;
  }
  .formulario_input_container__aMech {
    gap: 10px;
  }
  .formulario_form__FaCMI {
    margin-top: 0;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Navbar/navbar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.navbar_nav__MTaqf {
  background-color: white;
  padding: 5px;
}
.navbar_var__QM5JE {
  margin: auto;
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
[data-mode="light"] .navbar_nav__MTaqf {
  background-color: black;
}
.navbar_menu__g2QVf {
  width: 30px;
  height: 30px;
  text-decoration: none;
  background-color: black;
  padding: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

[data-mode="light"] .navbar_menu__g2QVf {
  background-color: white;
}

.navbar_zoom__B_GVp {
  transition: transform 0.2s ease;
}

.navbar_zoom__B_GVp:hover {
  transform: scale(1.1);
}


@media screen and (max-width: 768px) {
    .navbar_var__QM5JE{
        width: 100%;
        margin: auto;
        padding: 0;
    }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Icons/icon.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.icon_icon__cZMq4{
    width: 25px;
    height: 25px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/ToggleTheme/toggletheme.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.toggletheme_container__JCpeZ {
  width: 30px;
  height: 30px;
  text-decoration: none;
  background-color: black;
  padding: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

[data-mode="light"] .toggletheme_container__JCpeZ {
  background-color: white;
}

.toggletheme_zoom__snpQN {
  transition: transform 0.2s ease;
}

.toggletheme_zoom__snpQN:hover {
  transform: scale(1.1);
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/UserDetail/userdetail.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.userdetail_container__LTdm0 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
 height: 90vh;
}

.userdetail_header__SFerk {
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  height: 450px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
[data-mode="light"] .userdetail_header__SFerk {
  border-color: black;
}
.userdetail_info__THUI4 {
  border: 2px solid #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
  box-sizing: border-box;
  max-width: 750px;
}
[data-mode="light"] .userdetail_info__THUI4 {
  border-color: black;
}
.userdetail_profile_image__SaGLy {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.userdetail_email_lg__0H2Mq{
  margin: 5px 0;
}
.userdetail_email_sm__lVJ4_{
  margin: 5px 0;
  display: none;
}
.userdetail_about_me__a_EFi {
  height: 40%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userdetail_about_me__a_EFi .userdetail_text__igrZy {
  width: 90%;
  text-align: center;
}
.userdetail_ul__iWyN_ {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.userdetail_li__sA_nB {
  margin: 5px;
  padding: 5px;
  width: 100px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 13px;
}
[data-mode="light"] .userdetail_li__sA_nB {
  border-color: black;
}

.userdetail_zoom__x0IyY {
  transition: transform 0.2s ease;
}

.userdetail_zoom__x0IyY:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 481px) {
  .userdetail_container__LTdm0 {
    justify-content: start;
  }
  .userdetail_text__igrZy{
    overflow: auto;
  }
}
@media screen and (max-width: 768px) {
  .userdetail_container__LTdm0 {
    flex-direction: column;
    gap: 0;
  }
  .userdetail_header__SFerk {
    height: 100%;
    margin: 5px;
    padding: 5px;
    width: calc(100% - 20px);
  }
  .userdetail_h1__NxdV_ {
    margin-top: 0;
    font-size: 20px;
  }
  .userdetail_h2___8pij {
    margin-bottom: 0;
    font-size: 20px;
  }
  .userdetail_interests__Fu8jg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25px;
  }
  .userdetail_ul__iWyN_ {
    flex-direction: row;
    margin: 0;
  }
  .userdetail_li__sA_nB {
    font-size: 12px;
    width: 90px;
  }
  .userdetail_info__THUI4 {
    height: 100%;
    margin: 5px;
    padding: 5px;
    width: calc(100% - 20px);
  }
  .userdetail_about_me__a_EFi {
    width: 100%;
    margin: 0;
  }
  .userdetail_text__igrZy {
    font-size: 12px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .userdetail_header__SFerk {
    flex-direction: row;
    justify-content: space-around;
    max-height: 210px;
  }
  .userdetail_info__THUI4{
    max-height: 400px;
  }
  
  .userdetail_ul__iWyN_ {
    
    align-content: center;
    height: 50%;
    width: 250px;
  }
  .userdetail_email_lg__0H2Mq{
    display: none;
  }
  .userdetail_email_sm__lVJ4_{
    display: block;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .userdetail_container__LTdm0 {
    gap: 10px;
  }
  .userdetail_info__THUI4 {
    width: 75%;
  }
  .userdetail_h2___8pij{
    margin-bottom: 0;
  }
  .userdetail_about_me__a_EFi {
    margin: 0;
    height: 100%;
  }
}

